* {
    background-color: rgb(178, 214, 178);
    margin: auto;
    box-shadow:0px 3px 10px 3px #647764 ;
}

body {
    padding: 10px;
    margin: 0;
}

body h1 {
    margin: 0;
}

.container {
    max-width: 1200px;
    height: auto;
    margin: auto;
}

.p2 {
    padding: 20px;
}

.flex {
    display: flex;
    align-items: center;
}

.main-nav > a{
    justify-content: space-around;
    display: inline-flex;
    margin: 20px;
    color: black;
    text-decoration: none;
    font-size: 1em;
    padding: 5px;
}

.h1container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 60px;
    background-color: lemonchiffon;
    min-height: 15vh;
}

.aboutme-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    min-height: 100px;
    background-color: lemonchiffon;
    padding: 10px;
}

.projects-container {
    display: flex;
    padding: 12px;
    margin: 12px;
    display: flex;
    min-height: 250px;
    justify-content: center;
    max-height: 750px;
    background-color: lemonchiffon;
}

.footer-container {
    width: 100%;
    height: 20px;
    background-color: lemonchiffon;
    text-align: center;
}

.projects-container img {
    width: 160px;
    height: 80px;
    min-width: 500px;
    min-height: 350px;
    justify-content: center;
} 

.aboutme-container img {
    display: flex;
    max-width: 25%;
    padding: 5px;
}

.main-nav {
    justify-content: space-between;
}




 
